service: rbac-dev-network
frameworkVersion: '3'

provider:
  name: aws
  stage: dev
  region: ${opt:region, env:AWS_REGION, 'us-east-1'}
  stackName: rbac-dev-network

resources:
  Resources:
    VPC:
      Type: AWS::EC2::VPC
      Properties:
        CidrBlock: 10.20.0.0/16
        EnableDnsSupport: true
        EnableDnsHostnames: true
        Tags:
          - Key: Name
            Value: rbac-dev-vpc

    InternetGateway:
      Type: AWS::EC2::InternetGateway

    VPCGatewayAttachment:
      Type: AWS::EC2::VPCGatewayAttachment
      Properties:
        VpcId: !Ref VPC
        InternetGatewayId: !Ref InternetGateway

    PublicSubnetA:
      Type: AWS::EC2::Subnet
      Properties:
        VpcId: !Ref VPC
        CidrBlock: 10.20.0.0/20
        AvailabilityZone: !Select [0, !GetAZs '']
        MapPublicIpOnLaunch: true

    PublicSubnetB:
      Type: AWS::EC2::Subnet
      Properties:
        VpcId: !Ref VPC
        CidrBlock: 10.20.16.0/20
        AvailabilityZone: !Select [1, !GetAZs '']
        MapPublicIpOnLaunch: true

    PrivateSubnetA:
      Type: AWS::EC2::Subnet
      Properties:
        VpcId: !Ref VPC
        CidrBlock: 10.20.32.0/20
        AvailabilityZone: !Select [0, !GetAZs '']
        MapPublicIpOnLaunch: false

    PrivateSubnetB:
      Type: AWS::EC2::Subnet
      Properties:
        VpcId: !Ref VPC
        CidrBlock: 10.20.48.0/20
        AvailabilityZone: !Select [1, !GetAZs '']
        MapPublicIpOnLaunch: false

    PublicRouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId: !Ref VPC

    PublicDefaultRoute:
      Type: AWS::EC2::Route
      DependsOn: VPCGatewayAttachment
      Properties:
        RouteTableId: !Ref PublicRouteTable
        DestinationCidrBlock: 0.0.0.0/0
        GatewayId: !Ref InternetGateway

    PublicSubnetARouteTableAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        RouteTableId: !Ref PublicRouteTable
        SubnetId: !Ref PublicSubnetA

    PublicSubnetBRouteTableAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        RouteTableId: !Ref PublicRouteTable
        SubnetId: !Ref PublicSubnetB

    NatEip:
      Type: AWS::EC2::EIP
      Properties:
        Domain: vpc

    NatGateway:
      Type: AWS::EC2::NatGateway
      DependsOn: VPCGatewayAttachment
      Properties:
        AllocationId: !GetAtt NatEip.AllocationId
        SubnetId: !Ref PublicSubnetA

    PrivateRouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId: !Ref VPC

    PrivateDefaultRoute:
      Type: AWS::EC2::Route
      Properties:
        RouteTableId: !Ref PrivateRouteTable
        DestinationCidrBlock: 0.0.0.0/0
        NatGatewayId: !Ref NatGateway

    PrivateSubnetARouteTableAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        RouteTableId: !Ref PrivateRouteTable
        SubnetId: !Ref PrivateSubnetA

    PrivateSubnetBRouteTableAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        RouteTableId: !Ref PrivateRouteTable
        SubnetId: !Ref PrivateSubnetB

    AlbSecurityGroup:
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupDescription: rbac-dev-alb-sg
        VpcId: !Ref VPC
        SecurityGroupIngress:
          - IpProtocol: tcp
            FromPort: 80
            ToPort: 80
            CidrIp: 10.20.0.0/16

    EcsSecurityGroup:
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupDescription: rbac-dev-ecs-sg
        VpcId: !Ref VPC
        SecurityGroupIngress:
          - IpProtocol: tcp
            FromPort: 8080
            ToPort: 8080
            SourceSecurityGroupId: !Ref AlbSecurityGroup

  Outputs:
    VpcId:
      Value: !Ref VPC
      Export:
        Name: rbac-dev-network-VpcId
    PublicSubnetIds:
      Value: !Join [",", [!Ref PublicSubnetA, !Ref PublicSubnetB]]
      Export:
        Name: rbac-dev-network-PublicSubnetIds
    PrivateSubnetIds:
      Value: !Join [",", [!Ref PrivateSubnetA, !Ref PrivateSubnetB]]
      Export:
        Name: rbac-dev-network-PrivateSubnetIds
    AlbSecurityGroupId:
      Value: !Ref AlbSecurityGroup
      Export:
        Name: rbac-dev-network-AlbSecurityGroupId
    EcsSecurityGroupId:
      Value: !Ref EcsSecurityGroup
      Export:
        Name: rbac-dev-network-EcsSecurityGroupId
